<!DOCTYPE html>
<html lang="en">

<head>

    <title>Hack With Suraj -Home</title>
    <link rel="icon" type="image/x-icon" href="/favicon/favicon.ico">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Learn coding, hacking, and cybersecurity to protect yourself from hackers. Explore technology tips, coding practices, and ethical hacking using EJS. Strengthen your digital defenses and safeguard your online presence.">
    <meta name="keywords"
        content="cybersecurity, online privacy, technology, coding, learn coding, learn hacking, learn cybersecurity, digital security">
    <meta name="author" content="Hack With Suraj">
    
    <!-- Learn Coding, Hacking, Cybersecurity, and Technology Meta Tags -->
    <meta name="category" content="Technology">
    <meta name="subject" content="Coding, Hacking, Cybersecurity">
    <meta name="tutorial" content="Learn coding, hacking, and cybersecurity with practical tips and guides.">
    <meta name="education" content="Coding, Hacking, Cybersecurity">
    <meta name="learning-path" content="Beginner to Advanced">
    <meta name="skill-level" content="All levels">

    <!-- Search Engine Crawling -->
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">

    <!-- Page Level Social Media Tags -->
    <meta property="og:title" content="Learn Coding, Hacking, and Cybersecurity: Guarding Your Digital Fortress">
    <meta property="og:description"
        content="Explore this comprehensive guide to learn coding, hacking, and cybersecurity. Discover technology tips, coding practices, and ethical hacking using EJS to strengthen your digital defenses and safeguard your online presence.">
    <meta property="og:image" content="your-image-url.jpg">
    <meta property="og:url" content="your-blog-url">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@HackWithsuraj">
    <meta name="twitter:title" content="Learn Coding, Hacking, and Cybersecurity: Guarding Your Digital Fortress">
    <meta name="twitter:description"
        content="Explore this comprehensive guide to learn coding, hacking, and cybersecurity. Discover technology tips, coding practices, and ethical hacking using EJS to strengthen your digital defenses and safeguard your online presence.">
    <meta name="twitter:image" content="your-image-url.jpg">

</head>

<body>
    <!-- Header -->
    <%- include('../public/comp/Header')%>

        <!-- Home  -->
        <%- include('../public/comp/Home')%>

            <!-- Hack With Suraj   -->
            <%- include('../public/comp/Hero')%>

     
                <!-- blog  -->
                <%- include('../public/comp/HomeBlog')%>

                    <!-- footer -->
                    <%- include('../public/comp/Footer')%>



                        <!-- All script -->
                        <script src="/js/index.js"></script>
</body>

</html>